.NewBuildModal {
  width: 485px;

  &-Description {
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    font-size: 13px;
    line-height: 18px;
    color: var(--color-typo-primary);
  }

  &-Title {
    font-weight: 500;
    font-size: var(--text-size-xl);
    line-height: var(--text-line-height-s);
    color: var(--color-typo-primary);
  }

  &-Buttons {
    display: flex;
    margin-top: var(--space-s);
  }

  &-Button {
    &:not(:first-child) {
      margin-left: var(--space-2xs);
    }
  }
}
