.NewBuildModal {
  width: 485px;

  &-Description {
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.06px;
    color: #000000;
  }

  &-Title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  &-Buttons {
    display: flex;
    margin-top: var(--space-s);
  }

  &-Button {
    &:not(:first-child) {
      margin-left: var(--space-xxs);
    }
  }
}
