:root {
  --blue-grey-50: #f0f2f3;

  --space-xxs: 8px;
  --space-xs: 10px;
  --space-xxxxl: 100px;

  --font-size-xxxl: 24px;

  --main-text-color: #7f8285;

  --footer-background-color: var(--blue-grey-50);
}
