.Footer {
  padding: var(--space-xxs) var(--space-xxxxl);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-footer);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  &-Links {
  }
  
  &-Copyright {
  }
}

@media (max-width: 320px) {
  .Footer {
    flex-direction: column;
    padding: var(--space-s) var(--space-l);
    &-Copyright {
      margin-top: var(--space-xxs);
    }
  }
}
