.Footer {
  padding: var(--space-xxs) var(--space-xxxxl);
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background-color);

  &-Links {
  }
}

@media (max-width: 320px) {
  .Footer {
    flex-direction: column;
    padding: var(--space-s) var(--space-l);
  }
}
