.Header {
  padding: var(--space-xs) var(--space-xxxxl);
  display: flex;
  justify-content: space-between;

  &-Buttons {
    display: flex;
  }

  &-Button {
    margin-left: var(--space-xxs);
  }
}

@media (max-width: 320px) {
  .Header {
    padding: var(--space-m) var(--space-l);
  }
}
