.Header {
  padding: var(--space-xs) var(--space-xxxxl);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .Header {
    padding: var(--space-m) var(--space-l);
  }
}
