.Typo {
  font-family: "YS Text";
  font-style: normal;

  &_type {
    &_h1 {
      font-weight: 500;
      font-size: var(--text-size-xl);
      line-height: 28px;
      letter-spacing: 0.25px;
    }
    &_h2 {
      font-weight: bold;
      font-size: var(--text-size-m);
      line-height: 20px;
    }
    &_p {
      font-weight: normal;
      font-size: var(--text-size-s);
      line-height: 125%;
    }
    &-label {
      font-weight: normal;
      font-size: var(--text-size-s);
    }
  }

  &_align {
    &_center {
      text-align: center;
    }
  }

  &_view {
    &_default {
      color: var(--color-text-default);
    }
    &_primary {
      color: var(--color-text-primary);
    }
    &_success {
      color: var(--color-text-success);
    }
  }
}

@media (max-width: 320px) {
  .Typo {
    &_type {
      &_h1 {
        font-size: var(--text-size-l);
        line-height: 28px;
      }
    }
    &_view {
      &_default {
        line-height: 22px;
      }
    }
  }
}
