.DetailsPage {
  padding-top: var(--space-xxxxs);
  padding-bottom: var(--space-xxl);

  &-Card {
    margin-top: var(--space-xxxxxxxs);
  }
  &-Log {
    margin-top: var(--space-s);
  }
}

@media (max-width: 470px) {
  .DetailsPage {
    padding-top: var(--space-xxxxxxxs);
    padding-bottom: var(--space-l);
  }
}
