.HistoryPage {
  padding-top: var(--space-xxxxs);
  padding-bottom: var(--space-xxl);

  &-Card {
    margin-top: var(--space-xxxxs);
  }

  &-Button {
    margin-top: var(--space-xxxxs);
  }
}

@media (max-width: 470px) {
  .HistoryPage {
    padding-bottom: var(--space-l);
  }
}
