p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

.Page {
  min-width: 320px;
  --card-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --card-shadow-hover: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --button-size-m: 28px;
  --button-size-l: 36px;
  --radius-l: 4px;
  --radius-xl: 6px;
  --border-width-l: 2px;
  --color-text-default: var(--black-500);
  --color-text-primary: var(--blue-grey-500);
  --color-text-input-label: var(--blue-grey-600);
  --color-text-second: #ccc;
  --color-text-success: var(--green-500);
  --color-text-error: var(--red-500);
  --color-text-required: var(--red-500);
  --color-text-waiting: var(--orange-500);
  --color-text-hash: #595959;
  --color-border-main: #d9d9d9;
  --color-border-input-focused: #b3b3b3;
  --color-border-input-hovered: #cecece;
  --color-border-action-focused: #b38f00;
  --color-border-control-focused: #b3b3b3;
  --color-separator: var(--blue-grey-50);
  --color-bg-action: var(--yellow-500);
  --color-bg-action-hovered: #f2c200;
  --color-bg-control: #e6e6e6;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-footer: var(--blue-grey-50);
  --color-bg-second: #f2f2f2;
  --color-link-hover: var(--red-600);
}
