.SettingsPage {
  &-Description {
    margin-top: var(--space-xxxxs);
    margin-bottom: var(--space-xxxxs);
  }

  &-Input {
    margin-top: var(--space-m);
    margin-bottom: var(--space-xxxxxxxs);
  }

  &-Title {
    margin-top: var(--space-xxxxs);
  }

  &-Buttons {
    display: flex;
  }

  &-Button {
    margin-right: var(--space-s);
    margin-top: var(--space-s);
  }
}

@media (max-width: 470px) {
  .SettingsPage {
    &-Buttons {
      flex-direction: column;
    }
    &-Button {
      margin-top: var(--space-s);
      margin-right: 0;
    }
  }
}
