@font-face {
  font-display: swap;
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"),
    url("//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"),
    url("//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"),
    url("//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --blue-grey-500: #7f8285;
  --red-600: #e00000;

  --color-link-default: var(--blue-grey-500);
  --color-link-hover: var(--red-600);

  --modal-bg-color: rgba(0, 0, 0, 0.4);

  --button-size-s-height: 28px;
  --button-size-s-font: 13px;
  --button-size-s-lineHeight: 24px;

  --button-size-m-height: 36px;
  --button-size-m-font: 13px;
  --button-size-m-lineHeight: 32px;

  --color-button-disable: #b8b8b8;
  --color-bg-disabled: #f2f2f2;

  --space-7xs: 4px;
  --space-6xs: 5px;
  --space-xxxxxs: 6px;
  --space-4xs: 8px;
  --space-xxxs: 9px;
  --space-xxs: 10px;
  --space-xs: 11px;
  --space-s: 12px;
  --space-m: 14px;
  --space-l: 16px;
  --space-xl: 18px;
  --space-xxl: 20px;
  --space-xxxl: 24px;
  --space-xxxxl: 32px;
  --space-xxxxxl: 100px;

  --text-size-xs: 10px;
  --text-size-s: 13px;
  --text-size-m: 15px;
  --text-size-l: 16px;
  --text-size-xl: 18px;
  --text-size-xxl: 24px;
  --text-line-height-xxxxs: 15px;
  --text-line-height-xxxs: 16px;
  --text-line-height-xxs: 18px;
  --text-line-height-xs: 20px;
  --text-line-height-s: 22px;
  --text-line-height-m: 24px;
  --text-line-height-l: 28px;
  --text-line-height-xl: 32px;

  --blue-grey-50: #f0f2f3;
  --blue-grey-500: #7f8285;
  --blue-grey-600: #434445;
  --red-500: #ff3333;
  --red-600: #e00000;
  --black-500: #000000;
  --green-500: #00b341;
  --orange-500: #ff9a00;
  --white-500: #ffffff;
  --yellow-500: #ffcc00;

  --card-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --card-shadow-hover: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --modal-shadow: 0px 6px 16px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --button-size-m: 28px;
  --button-size-l: 36px;
  --radius-l: 4px;
  --radius-xl: 6px;
  --border-width-l: 2px;
  --color-text-default: var(--black-500);
  --color-text-primary: var(--blue-grey-500);
  --color-text-input-label: var(--blue-grey-600);
  --color-text-second: #ccc;
  --color-text-success: var(--green-500);
  --color-text-error: var(--red-500);
  --color-text-required: var(--red-500);
  --color-text-waiting: var(--orange-500);
  --color-text-hash: #595959;
  --color-border-main: #d9d9d9;
  --color-border-input-focused: #b3b3b3;
  --color-border-input-hovered: #cecece;
  --color-border-action-focused: #b38f00;
  --color-border-control-focused: #b3b3b3;
  --build-color-separator: var(--blue-grey-50);
  --color-bg-action: var(--yellow-500);
  --color-bg-action-hovered: #f2c200;
  --color-bg-control: #e6e6e6;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-footer: var(--blue-grey-50);
  --color-bg-second: #f2f2f2;

  --build-color-success: #00b341;
  --build-color-waiting: #ff9a00;
  --build-color-error: #ff3333;

  --toast-color-success: #00b341;
  --toast-color-default: rgba(0, 0, 0, 0.85);
  --toast-color-error: #ff3333;
  --toast-color-warning: #ff9a00;
}

p,
h1,
h2,
h4,
h3 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "YS Text", Arial, Helvetica, sans-serif;
  font-style: normal;
  * {
    box-sizing: border-box;
  }
  min-width: 320px;
}

.Layout {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .Layout {
    padding-right: var(--space-xxxxl);
    padding-left: var(--space-xxxxl);
  }
}

@media (max-width: 470px) {
  .Layout {
    padding-right: var(--space-l);
    padding-left: var(--space-l);
  }
}
