@import "index.scss";

.SettingsPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-Content {
    display: flex;
    flex-grow: 999;
    flex-direction: column;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
  }

  &-Description {
    margin-top: var(--space-4xs);
    margin-bottom: var(--space-4xs);
    font-size: var(--text-size-s);
    line-height: var(--text-line-height-2xs);
    color: var(--color-typo-secondary);
  }

  &-Input {
    margin-top: var(--space-m);
    margin-bottom: var(--space-7xs);
  }

  &-Title {
    margin-top: var(--space-4xs);
  }

  &-Buttons {
    display: flex;
    margin-bottom: var(--space-2xl);
  }

  &-Button {
    margin-right: var(--space-s);
    margin-top: var(--space-s);
  }
}

@media (max-width: $breakpoint-mobile) {
  .SettingsPage {
    &-Buttons {
      flex-direction: column;
    }
    &-Button {
      margin-top: var(--space-s);
      margin-right: 0;
    }
  }
}
