.SettingsPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-Content {
    display: flex;
    flex-grow: 999;
    flex-direction: column;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
  }

  &-Description {
    margin-top: var(--space-xxxxs);
    margin-bottom: var(--space-xxxxs);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.06px;
    color: #7f8285;
  }

  &-Input {
    margin-top: var(--space-m);
    margin-bottom: var(--space-xxxxxxxs);
  }

  &-Title {
    margin-top: var(--space-xxxxs);
  }

  &-Buttons {
    display: flex;
    margin-bottom: var(--space-xxl);
  }

  &-Button {
    margin-right: var(--space-s);
    margin-top: var(--space-s);
  }
}

@media (max-width: 470px) {
  .SettingsPage {
    &-Buttons {
      flex-direction: column;
    }
    &-Button {
      margin-top: var(--space-s);
      margin-right: 0;
    }
  }
}
