.Toast {
  background-color: var(--toast-color-default);
  box-shadow: var(--toast-shadow);
  border-radius: var(--radius-xl);
  color: white;
  padding: var(--space-2xs) var(--space-4xl) var(--space-2xs) var(--space-2xs);
  position: relative;

  &_type {
    &_error {
      background-color: var(--color-bg-error);
    }

    &_success {
      background-color: var(--color-bg-success);
    }

    &_warning {
      background-color: var(--color-bg-warning);
    }
  }

  &-Close {
    border: none;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 5px;
    background: transparent;
    display: flex;
    cursor: pointer;
    outline: 0;
  }
}
