.Toast {
  background-color: var(--toast-color-default);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  color: white;
  padding: 10px 30px 10px 10px;
  position: relative;

  &_type {
    &_error {
      background-color: var(--toast-color-error);
    }

    &_success {
      background-color: var(--toast-color-success);
    }

    &_warning {
      background-color: var(--toast-color-warning);
    }
  }

  &-Close {
    border: none;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 5px;
    background: transparent;
    display: flex;
    cursor: pointer;
    outline: 0;
  }
}
