.Card {
  padding: var(--space-s) var(--space-xxxl);

  box-shadow: var(--card-shadow);

  border-radius: var(--radius-xl);

  display: flex;

  cursor: pointer;

  &:hover {
    box-shadow: var(--card-shadow-hover);
  }

  &_type {
    &_link {
      text-decoration: none;
    }
  }
}

@media (max-width: 700px) {
  .Card {
    padding: var(--space-l) var(--space-s);
  }
}
