.Button {
  border-radius: var(--radius-xl);

  border-width: var(--border-width-l);

  border-style: solid;

  border-color: transparent;

  width: fit-content;

  height: fit-content;

  outline: none;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  text-decoration: none;

  &_size {
    &_s {
      height: var(--button-size-s-height);
      font-size: var(--button-size-s-font);
      line-height: var(--button-size-s-lineHeight);
      padding-right: var(--space-xs);
      padding-left: var(--space-xs);

      .Button-Text {
        margin-right: var(--space-xxxxxxs);
        margin-left: var(--space-xxxxxxs);
      }
    }

    &_m {
      height: var(--button-size-m-height);
      font-size: var(--button-size-m-font);
      line-height: var(--button-size-m-lineHeight);
      padding-right: var(--space-xxl);
      padding-left: var(--space-xxl);
    }
  }

  &:visited {
    color: inherit;
  }

  &_view {
    &_default {
      background-color: var(--color-bg-control);

      &:hover {
        background-color: var(--color-bg-control-hovered);
      }

      &:focus {
        border-color: var(--color-border-control-focused);
      }
    }

    &_action {
      background-color: var(--color-bg-action);

      &:hover {
        background-color: var(--color-bg-action-hovered);
      }

      &:focus {
        border-color: var(--color-border-control-focused);
      }
    }

    &_pseudo {
      background-color: transparent;
      border: 1px solid rgb(204, 204, 204);

      &:hover {
        background-color: rgb(247, 247, 247);
      }

      &:focus {
        border-color: var(--color-border-control-focused);
      }
    }
  }

  &[aria-disabled="true"] {
    background-color: var(--color-bg-disabled);

    .Button-Text {
      color: var(--color-button-disable);
    }
  }
}

@media (max-width: 470px) {
  .Button {
    &_size {
      &_s {
        padding: 6px;
        .Button-Text {
          display: none;
        }
      }

      &_m {
        width: 100%;
      }
    }
  }
}
