.Link {
  text-decoration: none;
  outline: 0;
  cursor: pointer;

  &_view_default {
    color: var(--color-link-default);

    transition: color 0.15s linear;

    font-size: var(--text-size-s);

    line-height: var(--text-line-height-3xs);

    &:hover {
      color: var(--color-link-hover);
    }
  }
}
