.Notify {
  position: fixed;
  top: 10px;
  left: 10px;

  &-Item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .enter {
    opacity: 0;
  }
  .enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .exit {
    opacity: 1;
  }
  .exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}
