.TextInput {
  display: flex;

  flex-direction: column;

  position: relative;

  max-width: 474px;

  &_hasAddon {
    flex-direction: row;
    align-items: center;
    .TextInput-Input {
      margin-right: var(--space-xxxxs);
      margin-left: var(--space-xxxxs);
      margin-top: 0;
      width: 52px;
      text-align: end;
    }
  }

  &-Label {
    &[aria-required="true"] {
      &:after {
        content: " *";
        color: var(--color-text-required);
      }
    }

    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.06px;
  }

  &-Addon {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.06px;
    color: #434445;
  }

  &-Input {
    border-width: var(--border-width-l);
    border-style: solid;
    border-color: var(--color-border-main);
    border-radius: var(--radius-l);

    padding-top: var(--space-xxxs);
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    padding-bottom: var(--space-xxxxs);

    margin-top: var(--space-xxxxxs);

    &:hover {
      border-color: var(--color-border-input-hovered);
    }

    &:focus {
      border-color: var(--color-border-input-focused);
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: var(--color-text-second);
    }
  }

  &-Clear {
    border: none;
    padding: 0;
    position: absolute;
    bottom: var(--space-xxs);
    right: var(--space-xxs);
    background: transparent;
    display: flex;
    cursor: pointer;
  }
}
