.HistoryPage {
  padding-top: var(--space-xxxxs);
  padding-bottom: var(--space-xxl);

  &-Card {
    margin-top: var(--space-xxxxs);
  }

  &-Button {
    margin-top: var(--space-xxxxs);
  }

  &-Container {
    min-height: calc(100vh - 106px);
  }
}

@media (max-width: 470px) {
  .HistoryPage {
    padding-bottom: var(--space-l);

    &-Container {
      min-height: calc(100vh - 146px);
    }
  }
}
