.Title {
  &_type {
    &_h1 {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.25px;
    }

    &_h4 {
      font-size: 15px;
      line-height: 20px;
    }
  }
  &_view {
    &_default {
      color: #7f8285;
      font-weight: 500;
    }
    &_link {
      font-weight: 500;
      line-height: 30px;
      color: #000000;
    }
  }
  &-Link {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 470px) {
  .Title {
    &_type {
      &_h1 {
        font-size: var(--text-size-xl);
        line-height: var(--text-line-height-s);
      }
    }
  }
}
