.BuildCard {
  width: 100%;

  &_view {
    &_detail {
      &:hover {
        box-shadow: var(--card-shadow);
        cursor: default;
      }

      .BuildCard-Content {
        flex-direction: column;
      }
      .BuildCard-DateTime {
        flex-direction: row;
      }
      .BuildCard-Duration {
        margin-top: 0;
        margin-left: var(--space-xxxxs);
      }
    }
  }

  &_status {
    &_Success {
      .BuildCard-TaskId {
        color: #00b341;
      }
    }
    &_Waiting {
      .BuildCard-TaskId {
        color: #ff9a00;
      }
    }
    &_Error {
      .BuildCard-TaskId {
        color: #ff3333;
      }
    }
  }

  &-TaskId {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  &-DateTime {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &-Duration {
    display: flex;
    align-items: center;
    margin-top: var(--space-s);
  }

  &-Date {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &-DateTimeItem {
    margin-left: var(--space-xxxxxxs);
    white-space: nowrap;
    color: #595959;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06px;
  }

  &-Content {
    margin-left: var(--space-xxs);
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
  }

  &-Row {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: var(--space-xxxxs);
    }
  }

  &-Message {
    margin-left: var(--space-xxxxxxxs);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }

  &-Author {
    margin-left: var(--space-xxs);
  }

  &-Status {
    height: 22px;
    width: 22px;
    min-width: 22px;
  }

  &-BranchName {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06px;
    color: #000000;
  }

  &-AuthorName {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06px;
    color: #000000;
    margin-left: 4px;
  }

  &-CommitHash {
    margin-left: 4px;
    color: #595959;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06px;
  }

  &-Separator {
    border-bottom: 1px solid var(--color-separator);
    margin-top: var(--space-xxxxs);
    margin-bottom: var(--space-xxxxs);
  }

  &-Info {
    max-width: calc(100% - 132px);
  }
}

@media (max-width: 700px) {
  .BuildCard {
    &-Status {
      height: 14px;
      width: 14px;
    }

    &-Content {
      flex-direction: column;
    }
    &-Row {
      flex-direction: column;
      align-items: flex-start;
    }
    &-Message {
      margin-left: 0;
      margin-top: var(--space-xxxxs);
    }
    &-Author {
      margin-left: 0;
      margin-top: var(--space-xxxxs);
    }
    &-Separator {
      display: block;
      border-bottom: 1px solid var(--color-separator);
    }
    &-DateTime {
      flex-direction: row;
    }

    &-Duration {
      margin-top: 0;
      margin-left: var(--space-xxs);
    }

    &-Info {
      max-width: calc(100% - 10px);
    }
  }
}
