.Layout {
  &-Container {
    display: flex;

    flex-direction: column;

    &_vertical-align {
      &_center {
        justify-content: center;
      }

      &_start {
        justify-content: flex-start;
      }
    }

    &_distribution_center {
      align-items: center;
    }

    &_indent-h_l {
      margin-right: var(--space-xxxxxl);
      margin-left: var(--space-xxxxxl);
    }

    &_type {
      &_footer {
        flex-direction: row;
      }
      &_header {
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 768px) {
  .Layout {
    &-Container {
      &_indent-h_l {
        margin-right: var(--space-xxxxl);
        margin-left: var(--space-xxxxl);
      }
    }
  }
}

@media (max-width: 470px) {
  .Layout {
    &-Container {
      &_indent-h_l {
        margin-right: var(--space-l);
        margin-left: var(--space-l);
      }

      &_vertical-align {
        &_center {
          justify-content: center;
        }
        &_start {
          justify-content: flex-start;
        }
      }
      &_type_footer {
        flex-direction: column;
      }
      &_mobile-indent_none {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
