.Button {
  border-radius: var(--border-radius-l);
  border-width: var(--border-width-l);
  border-style: solid;
  border-color: transparent;

  width: fit-content;

  height: fit-content;

  outline: none;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  &_view {
    &_control {
      background-color: var(--color-bg-control);

      &:hover {
        background-color: var(--color-bg-control-hovered);
      }

      &:focus {
        border-color: var(--color-border-control-focused);
      }
    }

    &_action {
      background-color: var(--color-bg-action);

      &:hover {
        background-color: var(--color-bg-action-hovered);
      }

      &:focus {
        border-color: var(--color-border-action-focused);
      }
    }
  }

  &_type {
    &_icon-left {
      .Button-Label {
        margin-left: var(--space-xxxxxs);
      }

      &.Button_size_m {
        padding-left: var(--space-xxxxxs);
      }
    }

    &_icon {
      &.Button_size_m {
        padding: 0 var(--space-xxxxxs);
      }
    }
  }

  &_size {
    &_m {
      min-height: 28px;
      min-width: 28px;
      line-height: var(--text-line-height-m);
      padding: 0 var(--space-xs);
    }

    &_l {
      min-height: 36px;
      min-width: 36px;
      line-height: var(--text-line-height-l);
      padding: 0 var(--space-xl);
    }
  }
}

@media (max-width: 470px) {
  .Button {
    &-Label {
      display: none;
    }

    &_type {
      &_icon-left {
        &.Button_size_m {
          padding: 0 var(--space-xxxxxs);
        }
      }
    }

    &_width {
      &_mobile-full {
        width: 100%;
        &.Button {
          &_size {
            &_m {
              line-height: var(--text-line-height-l);
              padding: 0 var(--space-xl);
            }
          }
        }
      }
    }
  }
}
