.Footer {
  background-color: var(--color-bg-footer);

  &-Container {
    padding-top: var(--space-xxs);
    padding-bottom: var(--space-xxs);

    display: flex;

    justify-content: space-between;

    align-items: center;
  }

  &-Link {
    &:not(:first-child) {
      margin-left: var(--space-s);
    }
  }
}

@media (max-width: 470px) {
  .Footer {
    &-Container {
      flex-direction: column;
      align-items: flex-start;
      padding-top: var(--space-s);
      padding-bottom: var(--space-s); 
    }

    &-Copyright {
      margin-top: var(--space-xxs);
    }
  }
}
