.Header {
  &-Container {
    display: flex;
    justify-content: space-between;
  }

  &-Buttons {
    display: flex;
  }

  &-Button {
    &:not(:first-child) {
      margin-left: var(--space-xxs);
    }
  }

  &_space-v_l {
    padding-top: var(--space-xxs);
    padding-bottom: var(--space-xxs);
  }
}

@media (max-width: 470px) {
  .Header {
    &_space-v_l {
      padding-top: var(--space-s);
      padding-bottom: var(--space-s);
    }
  }
}
