.Layout {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // padding: var(--space-xxxxs) var(--space-xxxxxl);

  &-Container {
    // &_space {
    //   &-h {
    //   }
    // }
    display: flex;

    flex-direction: column;

    min-width: 320px;

    &_vertical-align {
      &_center {
        min-height: calc(100vh - 78px);
        justify-content: center;
      }

      &_start {
        min-height: calc(100vh - 78px);
        justify-content: flex-start;
      }
    }

    &_distribution_center {
      align-items: center;
    }

    &_indent-h_l {
      margin-right: var(--space-xxxxxl);
      margin-left: var(--space-xxxxxl);
    }

    &_direction_row {
      flex-direction: row;
    }
  }

  // &_distribution {
  //   &_center {
  //     align-items: center;
  //     margin: 0 auto;
  //   }
  // }
}

@media (max-width: 700px) {
  // .Layout {
  //   padding-right: 50px;
  //   padding-left: 50px;
  // }
}

@media (max-width: 470px) {
  .Layout {
    &-Container {
      &_indent-h_l {
        margin-right: var(--space-l);
        margin-left: var(--space-l);
      }

      &_vertical-align {
        &_center {
          min-height: calc(100vh - 118px);
          justify-content: center;
        }
        &_start {
          min-height: calc(100vh - 118px);
          justify-content: flex-start;
        }
      }
      &_direction_row {
        flex-direction: column;
      }
      &_mobile-indent_none {
        margin-left: 0;
        margin-right: 0;
      }
    }

    // padding-top: var(--space-m);
    // padding: var(--space-l);
    // padding-left: var(--space-l);
    // padding-bottom: var(--space-xxl);
    // min-height: calc(100vh - 124px);

    // &_padding {
    //   &_mobile-none {
    //     padding-right: 0;
    //     padding-left: 0;
    //   }
    // }
  }
}
