.Layout {
  display: flex;
  flex-direction: column;
  // max-width: 1024px;
  width: 100%;
  min-height: calc(100vh - 82px);
  padding: var(--space-xxs) var(--space-xxxxl);

  &_distribution {
    &_center {
      align-items: center;
      margin: 0 auto;
    }
  }

  &_vertical-align {
    &_center {
      justify-content: center;
    }
  }
}

@media (max-width: 700px) {
  .Layout {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 470px) {
  .Layout {
    padding-top: var(--space-temp-3);
    padding-right: var(--space-l);
    padding-left: var(--space-l);
    padding-bottom: var(--space-xxl);
    min-height: calc(100vh - 124px);
  }
}


