.Layout {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // padding: var(--space-xxs) var(--space-xxxxl);

  &-Container {
    // &_space {
    //   &-h {
    //   }
    // }

    &_indent-h_l {
      margin-right: var(--space-xxxxl);
      margin-left: var(--space-xxxxl);
    }
  }

  // &_distribution {
  //   &_center {
  //     align-items: center;
  //     margin: 0 auto;
  //   }
  // }

  // &_vertical-align {
  //   &_center {
  //     min-height: calc(100vh - 82px);
  //     justify-content: center;
  //   }
  // }
}

@media (max-width: 700px) {
  // .Layout {
  //   padding-right: 50px;
  //   padding-left: 50px;
  // }
}

@media (max-width: 470px) {
  .Layout {
    &-Container {
      &_indent-h_l {
        margin-right: var(--space-l);
        margin-left: var(--space-l);
      }
    }

    &_mobile-indent_none {
      margin-left: 0;
      margin-right: 0;
    }
    // padding-top: var(--space-temp-3);
    // padding: var(--space-l);
    // padding-left: var(--space-l);
    // padding-bottom: var(--space-xxl);
    // min-height: calc(100vh - 124px);

    // &_padding {
    //   &_mobile-none {
    //     padding-right: 0;
    //     padding-left: 0;
    //   }
    // }
  }
}
