.Typo {
  font-family: "YS Text";
  font-style: normal;

  &_type {
    &_h1 {
      font-weight: 500;
      font-size: var(--text-size-xl);
      line-height: 28px;
      letter-spacing: 0.25px;
    }
    &_h2 {
      font-weight: bold;
      font-size: var(--text-size-m);
      line-height: 20px;
    }
    &_commit-id {
      font-weight: 500;
      font-size: var(--text-size-l);
      line-height: var(--text-line-height-s);
    }

    &_commit-message {
      font-weight: normal;
      font-size: var(--text-size-m);
      line-height: var(--text-line-height-s);
    }
    &_log {
      font-size: var(--text-size-xs);
      line-height: var(--text-line-height-s);
    }
    &_p {
      font-weight: normal;
      font-size: var(--text-size-s);
      line-height: var(--text-line-height-xs);
      letter-spacing: var(--spacing-1);
    }
    &-label {
      font-weight: normal;
      font-size: var(--text-size-s);
      white-space: nowrap;
    }
  }

  &_align {
    &_center {
      text-align: center;
    }
  }

  &_spacing {
    &_1 {
      letter-spacing: var(--spacing-1);
    }
  }

  &_view {
    &_default {
      color: var(--color-text-default);
    }
    &_primary {
      color: var(--color-text-primary);
    }
    &_hash {
      color: var(--color-text-hash);
    }
    &_link {
      color: var(--color-text-primary);
      &:hover {
        color: var(--color-link-hover);
      }
    }
    &_success {
      color: var(--color-text-success);
    }
  }
}

@media (max-width: 470px) {
  .Typo {
    &_type {
      &_h1 {
        font-size: var(--text-size-l);
        line-height: 28px;
      }
    }
    &_view {
      &_default {
        line-height: 22px;
      }
    }
  }
}
