.Button {
  border-radius: var(--radius-xl);
  border-width: var(--border-width-l);
  border-style: solid;
  border-color: transparent;
  width: fit-content;
  height: fit-content;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.Button_size_s {
  height: var(--button-size-s-height);
  min-width: var(--button-size-s-height);
  font-size: var(--button-size-s-font);
  line-height: var(--button-size-s-lineHeight);
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
}

.Button_size_s .Button-Text {
  margin-right: var(--space-6xs);
  margin-left: var(--space-6xs);
}

.Button_size_m {
  height: var(--button-size-m-height);
  min-width: var(--button-size-m-height);
  font-size: var(--button-size-m-font);
  line-height: var(--button-size-m-lineHeight);
  padding-right: var(--space-2xl);
  padding-left: var(--space-2xl);
}

.Button:visited {
  color: inherit;
}

.Button_view_default {
  background-color: var(--color-bg-button-default);
}

.Button_view_default:hover {
  background-color: var(--color-bg-button-control-hover);
}

.Button_view_default:focus {
  border-color: var(--color-border-button-default-focused);
}

.Button_view_default.Button_progress {
  background-color: var(--color-bg-button-default);
  background-image: repeating-linear-gradient(-45deg, var(--color-border-button-default-focused), var(--color-border-button-default-focused) 4px, var(--color-bg-button-control-hover) 4px, var(--color-bg-button-control-hover) 8px);
  background-size: 34px 34px;
  opacity: 0.5;
  animation-name: button-progress;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Button_view_action {
  background-color: var(--color-bg-button-action);
}

.Button_view_action:hover {
  background-color: var(--color-bg-button-action-hover);
}

.Button_view_action:focus {
  border-color: var(--color-border-button-action-focused);
}

.Button_view_action.Button_progress {
  background-color: #ffd426;
  background-image: repeating-linear-gradient(-45deg, #ffd426, #ffd426 4px, #f7c600 4px, #f7c600 8px);
  background-size: 34px 34px;
  opacity: 0.5;
  animation-name: button-progress;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Button_view_pseudo {
  background-color: var(--color-bg-button-pseudo);
  border: 1px solid var(--color-border-button-pseudo);
}

.Button_view_pseudo:hover {
  background-color: var(--color-bg-button-pseudo-hover);
}

.Button_view_pseudo:focus {
  border-color: var(--color-border-button-pseudo-focused);
}

.Button-Text {
  white-space: nowrap;
}

.Button[aria-disabled="true"] {
  background-color: var(--color-bg-button-disabled);
  border-color: transparent;
  cursor: default;
}

.Button[aria-disabled="true"] .Button-Text {
  color: var(--color-typo-disabled);
}

@keyframes button-progress {
  0% {
      background-position: -12px 0;
  }
  100% {
      background-position: 0 0;
  }
}

@media (max-width: 470px) {
  .Button_size_s {
      padding: var(--space-5xs);
  }
  .Button_size_s .Button-Text {
      display: none;
  }
  .Button_size_m {
      width: 100%;
  }
}
